<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "helloWorld" class = "com.tracholar.web.demo.HelloWorld" scope = "singleton" init-method = "init"
          destroy-method = "destroy">
        <property name="msg" value="Hello world!"></property>
    </bean>

    <bean id="handler1" class="com.tracholar.web.demo.CStartEventHandler"></bean>
    <bean id="publisher1" class="com.tracholar.web.demo.CustomEventPublisher"></bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test" />
        <property name = "username" value = "root"/>
        <property name = "password" value = ""/>
    </bean>

    <bean id = "studentTmp" class="com.tracholar.web.dao.StudentJDBCTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id = "test_bean" class="com.tracholar.web.demo.BasicBean">
        <property name="value" value="Hello Test Bean" />
        <property name="id" value="9123213213" />
    </bean>
</beans>